<link href="~/Scripts/client-app/loan-application-build/main.css" rel="stylesheet" />
<link href="~/Scripts/client-app/loan-application-build/AboutView.css" rel="stylesheet" />

<div id="app">

</div>

<script type="module" src="../../Scripts/client-app/loan-application-build/app.js"></script>
